/* Yumicode BIG PROJECT 2022*/

/*********/
/** ASSETS **/
/***********/


/*********/
/** CARD **/
/***********/
.flip-card {
    /* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    perspective: 1000px;
    /* box model */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.flip-card-inner {
    /* display */
    width: 95%;
    height: 95%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    /* box model */
    
}

.hovering {
    transform: rotateY(180deg);
  }

.flip-card-front {
    /* display */
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--blue-sea);
    backface-visibility: hidden;
    /* box model */
    
}

.flip-card-back {
    /* display */
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: var(--clear-blue);
    /* box model */
    
    
}

