/* Yumicode BIG PROJECT 2022*/

/***********/
/* MAIN */
/***********/

span {
    /* font-style */
    text-transform: uppercase;
    background-color: var(--color-bg);
}

.display {
    /* display */
    resize: both;
    overflow: hidden;
    /**/
    position: relative;
    /* box-model */
}

.flexbox-title {
    /* font-style */
    font-family: var(--font-poiret);
    font-size: 1.25em;
    font-weight: 600;
    /* display */
    text-align: center;
    background-color: var(--color-bg);
    width: 10em;
    /* box-model */
    border: 1px solid var(--dark-grey);
    margin: 1em auto;
    padding: 0.5em;
}

.box-click-here {
    /* display */
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

.flexbox-block {
    /* display */
    width: 6rem;
    max-width: 6em;
    height: 6em;
    background-color: var(--blue-sea);
    /* box-model */
    border: 2px solid var(--black);
    margin: 1.5em;
}

.box-num {
    /* box-model */
    margin: 0.25em 0 0 0.25em;
}

/******PROPERTIES********/
.flexbox-all {
    /* display */
    display: flex;
}

.flex-wrap {
    /* display */
    flex-wrap: wrap;
}

.justify-content {
    /* display */
    flex-wrap: wrap;
    justify-content: space-between;
}

.align-items {
    /* display */
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

.flex-direction {
    /* display */
    flex-direction: row-reverse;
}

/***********************************/
/* MEDIA QUERIES */
/**********************************/

@media only screen and (max-width: 700px) {
    .flexbox-block {
        /* display */
    width: 3rem;
    max-width: 3em;
    height: 3em;
    margin: 0.5em;
    }

    .justify-content {
        justify-content: space-evenly;
    }
}