/* MAIN SELECTOR */

a {
    /* font-style */
    text-decoration: none;
}

/***********/
/* MAIN */
/***********/

.container {
    /* display */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* box-model */
    margin-top: 2em;
}

/* HTML BLOC */
#html-bloc {
    /* display */
    border: 1px ridge var(--dark-grey);
    height: 20rem;
    width: 90%;
}

.html-part {
    /* display */
    background-color: var(--creamy);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%; 
    border-bottom: 1px solid var(--dark-grey);
    /* box-model */
   
}

.html-part-title {
    /* font-style */
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    /* box-model */
    margin: 0 auto;
    padding: 0.5em 0;
}

.html-part-txt {
    /* font-style */
    font-weight: 600;
    /* display */
    /* box-model */
    margin: 0 auto;
    padding-bottom: 1em;

}

.html-demo-title {
    /* font-style */
    font-weight: 600;
    /* display */
    width: 3em;
    border: 1px solid ;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* box-model */
    margin: 1em 0 0 1em;
    padding: 0.5em 0 0.5em 0.5em;
}