/* Yumicode BIG PROJECT 2022*/

/* MAIN SELECTOR */

/***********/
/* MAIN */
/***********/

h3.big-bloc-txt {
    /* font-style */
    font-size: 1.5em;
    /* display */
    background-color: var(--peach);
    line-height: 1.5em;
    text-align: center;
    /* box-model */
    margin-bottom: 1em;
}

.box-model-title {
    /* display */
    /* box-model */
    margin: 1em 0 2em;
}

.all-boxes {
    /* display */
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.box-margin {
    /* display */
    height: 15em;
    width: 30%;
    background-color: var(--clear-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    resize: both;
    overflow: hidden;
    position: relative;
    /* box-model */
    margin: 0.5em auto;
    padding: 0 0.5em;
    box-shadow: var(--bloc-box-shadow);
}

.box-margin-txt {
    /* font-style */
    font-weight: 600;
    text-transform: uppercase;
    /* display */
    position: absolute;
    top: 0.5em;
    left: 1em;
}

.box-border {
    /* display */
    height: 75%;
    width: 75%;
    background-color: var(--black);
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    position: relative;
    /* box-model */
    box-shadow: var(--bloc-box-shadow);
}

.box-border-txt {
    /* font-style */
    color: var(--white);
    font-size: 0.65em;
    /* display */
    position: absolute;
    top: 0.25em;
}

.box-padding {
    /* display */
    height: 80%;
    width: 80%;
    background-color: var(--clear-blue);
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    position: relative;
    /* box-model */
    box-shadow: var(--bloc-box-shadow);
}

.box-padding-txt {
    /* font-style */
    font-size: 0.85em;
    /* display */
    position: absolute;
    top: 0.65em;
    left: 0.65em;
}

.box-content {
    /* display */
    height: 50%;
    width: 75%;
    background-color: var(--dark-grey);
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-model */
    box-shadow: var(--bloc-box-shadow);
}

.box-content-txt {
    /* font-style */
    font-size: 1em;
}

.box-content-txt,
.box-padding-txt,
.box-border-txt {
    font-weight: 600;
    text-transform: uppercase;
}

.box-click-here {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

/******************/
/* MEDIA QUERIES */
/****************/

@media only screen and (max-width: 520px) {
    .all-boxes {
        flex-direction: column;
    }

    .box-margin {
        width: 100%;
    }
}

